* {box-sizing: border-box}

html, body, ul {
    margin:0px;
    padding:0px;
}
body {
    background-color:#40E0D0;
}

a {
    text-decoration: none;
}

<!---------------- NAVIGATION BAR ----------------->
.top-nav {
    height: 73px;
}

.top-nav ul{
    text-align:center;
    margin: 0;
    background-color: rgba(0,0,0,.2);
}

.top-nav ul li{
    list-style: none;
    display: inline-block;
}

.top-nav ul li a{
    display: block;
    text-decoration:none;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    font-family: "Open Sans"
    letter-spacing: 2px;
    font-weight: 500;
    padding: 25px;
    transition: all ease 0.5s;

}

.top-nav ul li a:hover{
    background-color: #211b4385
}

.logo{
    position: relative;
    float: left;
    margin-left: 30px;
}


.top-right-nav a{
    text-decoration:none;
    color: white;
    font-size: 15px;
}

.logo a{
    text-decoration:none;
    color: rgba(0,104,113,255);
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    letter-spacing:1px;
}

.logo img{
    height:60px;
    margin-top:5px;
    margin-left:-20px;
}
.top-right-nav .login img{
    height:32px;

}

.top-right-nav .cart img{
    height:38px;
}

<!---------------- SLIDE CONTAINER ----------------->

.my_slides {
    display:none;
    position: absolute;
    height: 100%;
    width:100%;
}

.my_slides img{
  max-width: 100%;
  height: 300px;
  width: 32.94%;
  display: inline;
  object-fit: cover;
  margin: 0;
  padding :0;
  border:0;
}

.slide-show-container {
    width: 45%;
    height: 300px;
    margin: 0;
    padding: 0;
    box-shadow: 1px 2px 10px 5px white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: none;

}

.prev, .next {
    cursor: pointer;
    top: 60%;
    width: auto;
    margin-top: -225px;
    padding: 15px;
    color: white;
    position: absolute;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 418px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}



.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.first-hr, .second-hr{
    margin: 0;
    margin-top: 40px;
    width: 100%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.gallery_class{
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 50px;
}

.box-image{
    height:315px;
    position: relative;
}

.box-image img{
    height: 325px;
    width: 100%;
    object-fit: cover;
}

.box-detail{
    font-family: Calibri, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-sizing: border-box;
}

.type{
    display: flex;
    flex-direction: column;
}

.type a{
    text-decoration: none;
    color:black;
    margin: 5px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding-right: 1px;
}

.type span{
    color: rgba(26,26,26,0.5);
}

.price{
    text-decoration: none;
    color: #333333;
    font-weight: 600;
    font-size: 1rem;
    font-family: Poppins;
    letter-spacing: 0.5px;
}

.overlay{
    position:absolute;
    left:50%;
    right:50%;
    transform:translate(-50%,-101%);
    width: 100%;
    height: 325px;
    background-color: #211b4385;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.buy-btn:hover{
    color: #FFFFFF;
    background-color: #f15fa3;
    transition: all ease 0.3s
}

.overlay{
    visibility: hidden;
}

.box-image:hover .overlay{
    visibility: visible;
    animation: fade 0.3s;
}

@keyframes fade{
    0%{
         opacity: 0%};
    }
    100%}

.cs-hidden{
    display: inline;
    list-style-type: none;
    top: 100px;

}

.cs-hidden li{
    float:left;
    position: relative;
    top: 300px;
    list-style-type: none;
    margin-right: 100px;
    margin-bottom: 50px;
}
.contact-me-container span{
    font-family: Ubuntu-bold;
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 50px;
    display: table;
    margin: 0 auto;
}


.contact-me-container textarea, input{
    display: table;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border-radius: 31px;
    border:0;
    margin-bottom: 16px;
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 15px
}
.contact-me-container textarea{
    height: 120px;
    padding-top: 10px;
}

.send-button{
    width: 8%;
}

.send-button:hover{
    color: #FFFFFF;
    background-color: #f15fa3;
    transition: all ease 0.3s;
    cursor:pointer;
}

.add-cart-button{
    display: table;
    margin: 0 auto;
    width: 30%;
    height: 40px;
    border-radius: 31px;
    border:0;
    margin-bottom: 16px;
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.add-cart-button:hover{
    color: #FFFFFF;
    background-color: #f15fa3;
    transition: all ease 0.3s;
    cursor:pointer;
}

.about-section {
  padding: 50px;
  text-align: center;
  margin: 100px 250px 5px 250px;
  background-color: #008B8B;
  color: white;
}

.post_detail_image {
    width:500px;
    height: 594px;
    padding: 50px;
    float: left;
    margin-left: -200px;
    margin-top: -215px;
}

.image_details_box {
      margin-top: 95px;
      background-color: #008B8B;
      margin-left: 50px;
      margin-right: 620px;
      color: white;
      padding: 194px;
}

.add-to-cart-btn {
    width: 120px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}


